.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.header__cart-icon{
    color: white;
    font-size: 2.5rem;
    margin-top: 6px;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;

}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: white;
    width:400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
/*Có sản phẩm*/
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size:1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 56vh;/*vh: viewport height,  phần trăm chiều cao màn hình*/
    overflow-y: auto;

}
.header__cart-item{
    display: flex;
    align-items: center;

}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: lightgray;
    margin: 0;
    line-height: 2rem;
    max-height:4rem;
    overflow: hidden;
    flex:1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-info{
    width:100%;
    margin-right: 12px;

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight:400;
    color:red;
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight:300;

}
.header__cart-item-remove{
    color: lightgray;
    font-size: 1.4rem;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: red;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-img{
    width:42px;
    height: 42px;
    margin:12px;
    border: 1px solid gray;

}
.header__cart-no-cart-img{
    width:54%;
    display: none;

}
.header__cart-list--no-cart{
    padding: 28px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin: 0 auto;
    display: block;

}
.header__cart-list-no-cart-msg{
    display: none;
    font-size:1.4rem;
    margin-top:14px;
    color: lightgray;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    top:-4px;
    right:-4px;
    font-size:1.4rem;
    line-height:1.4rem;
    border-radius:10px;
    background-color: white;
    color: lightgray;
    border: 2px solid #EE4D2D;}